.item {
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .contact {
    margin-right: 30px;
  }

  .btn {
    margin-top: 10px;
    height: 30px;

    border-radius: 3px;
    border: rgba(0, 0, 0, 0.3) 0px solid;

    padding: 8px;
    background: burlywood;
    color: #fff;
    cursor: pointer;

}

.btn:hover {
  background: red;
}
  