input {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    font-size: 17px;
    border: 1px solid gray;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn {
    height: 53px;
    width: 50%;
    font-size: 17px;
    margin-left: 60px;
    border-radius: 3px;
    border: rgba(0, 0, 0, 0.3) 0px solid;
    padding: 8px;
    background: burlywood;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover {
    background: #3889b4;
}